## Libraries ##
###############
/libs

## Build files ##
/bin/MyFirstApp.apk
/bin/classes.dex
/bin/classes/com/example/myfirstapp/R$style.class
/bin/resources.ap_
/gen/com/example/myfirstapp/R.java


## Misc files I don't want to include ##
########################################
proguard.txt